.page {
	&__main {
	}
}
.main {
	&__container {
		display: flex;

		padding-top: 49px;
	}

	&__image {
		flex: 0 1 544px;
		position: relative;
		left: -160px;
		z-index: -1;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__body {
		flex: 0 1 640px;
		margin-left: -64px;
	}

	&__text {
		max-width: 610px;
		padding-top: 76px;
	}

	&__title {
		font-family: "Playfair Display";
		font-weight: 700;
		font-size: 56px;
		line-height: 1.39;
		/* or 78px */

		letter-spacing: 0.02em;

		color: #e5a985;

		padding-bottom: 39px;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 1.71;
		letter-spacing: 0.02em;
		color: #4a4747;

		padding-bottom: 67px;
	}

	&__form {
		display: flex;
		gap: 15px;
		height: 58px;
	}

	&__input {
		flex: 0 1 465px;
		background-color: #e5e5e5;
		border-radius: 8px 0px 0px 8px;

		font-size: 20px;
		font-weight: 700;
		line-height: 1.35;
		padding-left: 30px;
		&::placeholder {
			color: #c4c4c4;
		}
	}

	&__button {
		flex: 0 1 160px;
		background-color: #91916c;
		border-radius: 0px 8px 8px 0px;

		font-size: 20px;
		font-weight: 700;
		line-height: 1.35;
		color: #ffffff;

		transition: all 0.3s ease 0s;

		&:hover {
			background-color: #e5a985;
		}
	}

	@media (max-width: 991.98px) {
		&__text {
			padding-top: 0;
		}

		&__button {
			font-size: 16px;
		}

		&__title {
			padding-bottom: 20px;
		}

		&__subtitle {
			padding-bottom: 37px;
		}

		&__container {
			padding-top: 0;
		}
	}

	@media (max-width: 767.98px) {
		&__container {
			flex-direction: column;
		}

		&__image {
			flex: 1 1 100%;
			left: 0;
			align-self: center;
		}

		&__body {
			margin-left: 0;
			align-self: center;
		}
	}

	@media (max-width: 479.98px) {
		&__title {
			font-size: 44px;
		}

		&__form {
			flex-direction: column;
		}

		&__button {
			border-radius: 8px;
			padding: 10px 0;
		}

		&__input {
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 8px;
		}
	}
}
