.page {
	&__product {
		padding-top: 120px;
		padding-bottom: 70px;
		background-color: #e1e1c2;
	}

	@media (max-width: 991.99px) {
		&__product {
			padding-top: 50px;
			padding-bottom: 30px;
		}
	}
}

.product {
	&__container {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&__label {
		padding-bottom: 76px;
		@media (max-width: 479.98px) {
			padding-bottom: 46px;
		}
	}

	&__title {
		padding-bottom: 51px;

		max-width: 750px;
	}

	&__slider {
	}
}

.slider {
	position: relative;
	&__item {
		img {
			max-width: 800px;
			max-height: 432px;
			object-fit: cover;
			overflow: hidden;
			border-radius: 20px;
		}
	}

	&__item-text {
		font-weight: 700;
		line-height: 1.39;
		/* or 28px */
		letter-spacing: 0.02em;
		color: #333333;
		padding-top: 45px;
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: calc(-29px - 36px);
		z-index: 1;
		font-size: 0;

		width: 58px;
		height: 58px;

		&.slick-prev {
			background: url("../img/icon/arrow-left.svg") 0 0 / 100% no-repeat;
			left: 0;
		}

		&.slick-next {
			background: url("../img/icon/arrow-right.svg") 0 0 / 100% no-repeat;
			right: 0;
		}
	}

	@media (max-width: 991.99px) {
		&__item {
			img {
				max-width: 600px;
				max-height: 332px;
			}
		}
	}

	@media (max-width: 767.98px) {
		&__item {
			img {
				max-width: 500px;
				max-height: 270px;
			}
		}
	}

	@media (max-width: 535px) {
		&__item {
			img {
				max-width: 400px;
				max-height: 200px;
			}
		}

		.slick-arrow {
			width: 38px;
			height: 38px;
		}
	}

	@media (max-width: 405px) {
		&__item {
			img {
				max-width: 300px;
				max-height: 150px;
			}
		}
	}
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
