// Обнуление
@import "nullstyle.scss";

// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Playfair+Display:wght@700&family=Poppins:wght@700&display=swap");

body {
	font-family: "Nunito Sans";
	font-size: 20px;
}

[class*="__container"] {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.page {
	flex: 1 1 auto;
}

.label {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.39;
	/* or 44px */
	letter-spacing: 0.03em;
	color: #91916c;

	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 68px;
		left: calc(50% - 144px);
		width: 288px;
		height: 3px;
		background-color: #91916c;
	}
}

.label.label-orange {
	color: #bd957e;
	&::after {
		content: "";
		background-color: #bd957e;
	}
}

.title {
	font-family: "Playfair Display";
	font-weight: 700;
	font-size: 48px;
	line-height: 1.39;
	/* or 67px */
	letter-spacing: 0.02em;
	color: #65653e;
	align-self: center;

	@media (max-width: 479.98px) {
		font-size: 34px;
	}
}

.title.title-orange {
	color: #e5a985;
}

.title.title-brown {
	color: #795744;
}

.title.title-white {
	color: #ffffff;
}

// Шапка
@import "header.scss";

// Контент
@import "page.scss";
